node_modules/
dist/
build/
.env
**/.env
.venv
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.vscode/
.idea/
*.log
*.db
powershell.cmd
powershell.bat
uploads/
backend/uploads/*.csv
backend/uploads/*.xlsx
backend/uploads/models/*.pkl

